nav ul {
    background-color:#f0f0f0;
}
nav ul li {
    list-style-type: none;
}
nav ul li:hover {
    background-color:#007acc;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color:#333;
}
table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.bordered-image {
    border: 3px solid #444;  
    padding: 5px;             
    border-radius: 4px;       
}
